<h1><%= @shelter.name %></h1>

<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<%= link_to 'Our Pets', "/shelters/#{@shelter.id}/pets" %>

<%= button_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", method: :get %>

<%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>