<h1><%= @shelter.name %>'s Pets</h1>

<% @shelter.pets.each do |pet| %>
  <section id='shelter-pet-<%=pet.id %>'>
    <img style="width:35vw" src= <%= pet.image %>>
    <h3><%= pet.name %></h3>
    <p>Approx Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
  </section>
<% end %>