<h1><%= @shelter.name %>'s Pets</h1>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new", method: :get %>

<% @shelter.pets.each do |pet| %>
  <section class= polaroid id='shelter-pet-<%=pet.id %>'>
    <div class = container><img src= <%= pet.image %>></div>
    <div class = petinfo>
      <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
      <p>Approx Age: <%= pet.approx_age %></p>
      <p>Sex: <%= pet.sex %></p>
      <p>Adoption Status: <%= pet.adopt_status %></p>

      <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %>
      <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
    </div>
  </section>
<% end %>