<h1>Pets List</h1>

<% @pets.each do |pet| %>
  <section id='pet-<%=pet.id %>'>
    <img style="width:35vw" src= <%= pet.image %>>
    <h3><%= pet.name %></h3>
    <p>Approx Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>

    <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %>
    <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
  </section>
<% end %>